/* * {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
    margin: 0;
} */

#main {
    text-align: center;
}

nav {
    display: inline-block;
    width: 90%;
}

nav a {
    text-decoration:none;
}

#menu li {
    display: inline-block;
}

#contacto {
    text-align: center;
    width: 20%;
    box-shadow: 3px 3px 0 black;
    background: magenta;
    line-height: 60px;
    border-radius: 16px;
    padding: 5px 10px 5px 10px;
}

#contacto a {
    text-decoration:none;
    color: white;
}

.box-1 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    text-align: left;
}

.box-1 a {
    vertical-align: text-bottom;
}

.size-1 {
    height: 250px;
    width: 25%;

}

.size-2 {
    height: 250px;
    width: 50%;
}

.box-2 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    text-align: left;
}

#micasa {
    margin-bottom: 10px;
}

#presupuesto {
    margin-bottom: 10px;
}
/* #grupo-boxes:after {
    content: "";
    display: table;
    clear: both;
  } */